<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1022454168681-4b3pcpqviot0nhmhb9b92h52jq916cer.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1022454168681-4b3pcpqviot0nhmhb9b92h52jq916cer</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1022454168681-0c012985eeo0q7ukga95611ookckhsq9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA-Y9mZGBc8DQ3Hs0UdZ3IZPT4UQQ_SoU0</string>
	<key>GCM_SENDER_ID</key>
	<string>1022454168681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.temaandone.toddyapp</string>
	<key>PROJECT_ID</key>
	<string>toddy-1d800</string>
	<key>STORAGE_BUCKET</key>
	<string>toddy-1d800.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022454168681:ios:936454a27c705b6200f6f8</string>
</dict>
</plist>